body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

.section {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

#section1 {
    background-color: #fff;
}

#section2 {
    background-color: #f2f2f2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
}

.text-content {
    flex: 1;
    padding-right: 2rem;
}

h1 {
    font-size: 60px;
    color: #333;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

ul {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

ul li {
    margin-bottom: 0.5rem;
}

.cta-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.cta-button {
    background-color: rgb(216, 198, 91);
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image-content img {
    max-width: 90%;
    height: auto;
    background-color: rgb(11, 52, 74);
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        padding-right: 0;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
    }

    .cta-button {
        width: 100%;
        padding: 1rem;
    }
}
